body{
    background:#c5b4d1;
}
main{
    text-align: center;
   

}
#slogan{
    font-size: 25px;
}

.mago{
    width : 89%;
    height :40%;
}

.conteudo{
    background-color: #56676e;
}

.beneficios{
    background-color: #c5b4d1;

}