body{
    background:#c5b4d1;
}
main{
    text-align: center;
   

}
#slogan{
    font-size: 25px;
}

.mago{
    width : 89%;
    height :40%;
}

.conteudo{
    background-color: #ddd0e7;
    font-family: cambria, Cochin, Georgia, Times, 'times new roman,' Serif;
    color:rgb(red, green, blue)
}
#slogan{
    font-size: 25px;
}

.beneficios{
    background-color: #dccfe4;

}
ul {
    display: inline-block;
    vertical-align:top;
    padding: 10px;
    font-size: 20px;
    margin-right: 500px;
}
li{
    padding: 6px;
}

.foto-beneficio {
width: 30%;
text-align: right;
padding:10px;
display: inline-block;

}